<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="28.2.11" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="28.2.11" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="28.2.11" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Net.Core" version="28.2.11" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="28.2.11" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
</packages>